:root {
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open-Sans", sans-serif;
}

body {
	background: linear-gradient(to top, #26022d 0%, #08010a 100%);
}

.navbar {
	display: flex;
	justify-content: center;
	margin-top: 65px;
}

.navbar .nav-brand {
	font-size: 50px;
	color: #fff;
}

.container {
	width: 100%;
	min-height: 100vh;
	padding: 10px;
}

#todo-list-form {
	display: grid;
	grid-template-columns: minmax(auto, 500px);
	grid-template-rows: auto;
	grid-gap: 30px 50px;
}

.todo-app {
	width: 100%;
	max-width: 540px;
	background: #fff;
	margin: 40px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 50px;
	box-shadow: 0px 0px 10px #2e1352;
}

.input-group__label {
	font-weight: bold;
	display: block;
	margin: 15px 0px;
	font-size: 14px;
	color: #0e0210;
}

.input {
	width: 100%;
	font-size: 16px;
	padding: 0.75em 0.5em;
	min-width: 200px;
	border: 2px solid #220527;
	border-radius: 22px;
	background-color: white;
	color:#220527;
	box-sizing: border-box;
}

.input:focus {
	outline: none;
}

.input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input-group label {
	font-size: 18px;
	font-weight: bold;
}

.input-group input {
	-ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
	margin-left: 15px;
	margin-right: 10px;
}

#todo-category {
	width: 50%;
	font-size: 18px;
	padding: 0.75em 0.5em;
	min-width: 200px;
	border: 2px solid #220527;
	border-radius: 5px;
	color:#220527;
}

option {
	font-size: 18px;
}

.btn-add {
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 13px 40px;
	border: 0;
	background: linear-gradient(to top, #26022d 0%, #08010a 100%);
	color: #ffffff;
}

.search-select-group {
	margin-top: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#search-input {
	width: 48%;
	font-size: 16px;
	padding: 0.75em 0.5em;
	min-width: 200px;
	border: 2px solid #220527;
	border-radius: 5px;
	background-color: white;
	color:#220527;
	box-sizing: border-box;
}

#filter-Completed__Select {
	width: 48%;
	font-size: 18px;
	padding: 0.55em 0.5em;
	min-width: 200px;
	border: 2px solid #220527;
	border-radius: 5px;
	color:#220527;

}


h2 {
	color: #002765;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	font-size: 30px;
	position: relative;
}




#todo-list {
	margin: 20px 0;
	padding-left: 0;
	list-style: none;
}

#todo-list .card {
	background-color: white;
	padding: 10px 20px;
	border: 1px solid lightgray;
	border-radius: 3px;
	display: inline-block;
	margin: 5px 0;
}

.btn-Del {
	padding: 10px 20px;
	cursor: pointer;
	margin-left: 10px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	font-size: 17px;
}
